@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFDFD;
  --foreground: #18202e;
  --main-purple: #7528c2;
  --purple-blue: #551694;
  --gray-blue: #7B96D4;
  --gray: #A0A9D9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #EDEDED;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}